# ----------------------------
# Virtual Environment
# ----------------------------
venv/
.venv/
env/

# ----------------------------
# Environment Variables
# ----------------------------
.env
.env.*

# ----------------------------
# Python Cache
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Distribution / Packaging
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# PyCharm
# ----------------------------
.idea/

# ----------------------------
# Jupyter Notebook
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db